<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#000000">
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  /* paste this line in verbatim */
  window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
  /* customize formbutton below*/     
  formbutton("create", {
    action: "https://formspree.io/f/xdkngjgk",
    title: "How can we help?",
    fields: [
      { 
        type: "email", 
        label: "Email:", 
        name: "email",
        required: true,
        placeholder: "your@email.com"
      },
      {
        type: "textarea",
        label: "Message:",
        name: "message",
        placeholder: "Describe the security solutions you're looking for.",
      },
      { type: "submit" }      
    ],
    styles: {
		button: {
			backgroundColor: "#9aceeb",
		},
		title: {
			backgroundColor: "#9aceeb",
			color: "#f6f4f7"
		},
		body: {
          background: "#f6f4f7"
        },
		input: {
			backgroundColor: "#efeeef",
			boxShadow: "0px",
			border: "0px",
			padding: "7px"
		},
		submitLabel: {
			marginTop: "18px"
		},
		submitInput: {
			backgroundColor: "#9aceeb",
			color: "#f6f4f7"
		},
		closeButton: {
			display: "none"
		}
    }
  });
</script>

<!-- end custom head snippets -->
