<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url and link.icon %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer" title="{{ link.label }}"><i class="{{ link.icon | default: '' }}" aria-hidden="true"></i> </a></li>
		{% elsif link.label and link.url and link.icon == null %}
		  <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer" title="{{ link.label }}"><i class="{{ link.icon | default: '' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
	  <li>Subscribe</li>
    <li><form action="https://formspree.io/f/xgvwzwbk"method="POST"><label><input type="email" name="email" value="your@email.com" aria-label="email"></label></li>
  <li><button type="submit">Submit</button></form></li>

  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}, Inc. All Rights Reserved.</div>
